@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    Kinetic Cross Training, Calle 12 de Octubre 6, San Benito, 83190 Hermosillo, Mexico<br />
    <abbr title="Phone">P:</abbr>
    01 662 210 4308<br />
    <abbr>Horario: </abbr><br />
    <b>Mon-Fri:</b>
    5:00 am - 10:00 am
    <br />
    5:00 pm - 9:00 pm
    <br />
    <b> Sat:</b>
    9:00 am - 11:00 am

</address>

<address>
    <strong>Support:</strong> <a href="mailto:kineticcrosstraining@gmail.com">kineticcrosstraining@gmail.com</a><br />
    <strong>WebSite:</strong> <a href="http://www.facebook.com/kineticcrosstraining">facebook.com/kineticcrosstraining</a>
</address>