@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kinetic Cross Training</h1>
    <p class="lead">Kinetic Cross Training Systems, será tu nuevo sistema para el control personal de tu entrenamiento, ademas de otras caracteristicas.</p>
</div>

<div class="row">
    <div class="col-md-4 cuadroInfo">
        <h2>Información</h2>
        <p>
            Gimnasio que utiliza un sistema de acondicionamiento físico 
            y fuerza basado en ejercicios constantemente variados, ejecutados a alta intensidad.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mas&raquo;</a></p>
    </div>
    <div class="col-md-4 cuadroInfo">
        <h2>Encuentranos</h2>
        Kinetic Cross Training, Calle 12 de Octubre 6, San Benito, 83190 Hermosillo, Mexico<br />
        <abbr title="Phone">P:</abbr>
        01 662 210 4308<br />
        <abbr>Horario: </abbr><br />
        <b>Mon-Fri:</b>
        5:00 am - 10:00 am
        <br />
        5:00 pm - 9:00 pm
        <br />
        <b> Sat:</b>
        9:00 am - 11:00 am
    </div>
    <div class="col-md-4 cuadroInfo">
        <h2>Mas..</h2>
        <p>En este sistema encontraras muchas 
        caracteristicas interesantes como:</p>
        <ul>
            <li>Control de membresia</li>
            <li>Pizarra de reto personal</li>
            <li>Recordatorios</li>
            <li>Avisos</li>
            <li>Y mucho mas..</li>
        </ul>
        
    </div>
</div>