@model GymApp.Models.UserViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id ="infoUser" class="col-lg-6"></div>


<div id="infoRutina" class="col-lg-6"></div>

<div id="infoAviso" class="col-lg-6"></div>

<div id="infoAviso" class="col-lg-6"></div>


@section Scripts {

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/jquery-1.10.2.js")

<script type="text/javascript">
        $(document).ready(function () {
            $('#infoUser').empty();
            $('#infoUser').load("/Home/_sectionUser");

            $('#infoRutina').empty();
            $('#infoRutina').load("/Home/_sectionRutina");

            $('#infoAviso').empty();
            $('#infoAviso').load("/Home/_sectionAvisos");
        });
</script>



}