@model GymApp.Models.Ejercicio

@{
    ViewBag.Title = "Detalles del Ejercicio";
}

<h2>Detalles del Ejercicio</h2>

<div>
    <h4>Ejercicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
