@model IEnumerable<GymApp.Models.Balance>

<h3>Ingresos</h3>
<br />
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.total)
        </td>
       
    </tr>
}
    <tr>
        <td>
            <h3>Total Ingresos</h3>
        </td>
        <td>
            <h3>$@ViewBag.Total</h3>
        </td>

    </tr>

</table>
