@model GymApp.Models.AspNetUsers

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número de Control: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accessControl)
        </dd>

        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
